################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

AppPackages
[Bb]in
[Oo]bj
packages
*.user
*.suo
*.sln.ide
SubmissionInfo
*.vs
Data/Cards/DominionPickerCards*.xml